:root{
    --primary-color: #140C38;
    --white-color: #fff;
    --light-gray-color: #eee;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
}
h1, h2 ,h3, h4, h5, h6, .logo{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
h1{
    font-size: 6rem;
    line-height: 1.2;
    margin-bottom: 5rem;
}
h2{
    font-size: 6rem;
    padding: 10rem 0 5rem 0;
}
h3{
    font-size: 5rem;
}
h4{
    font-size: 4.5rem;
}
h5{
    font-size: 4rem;
}
h6{
    font-size: 3.5rem;
}
nav ul{
    display: flex;
}
nav ul li{
    
    list-style: none;
}
.spacing{
    max-width: 120rem;
    margin: 0 auto;
}
.div-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
}
.logo{
    font-size: 2.5rem;
}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--white-color);
    border-bottom: 2px solid var(--light-gray-color);
    z-index: 1;
}
a{
    text-decoration: none;
    padding-right: 2rem;
    display: block;
    transition: color 0.3s ease-in;
    color: var(--primary-color);
}
.menu ul li a:hover{
    color: crimson;
}
.sec-bg{
    background-image: url(img/main-bg.svg);
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}
.sec-w{
    color: var(--primary-color);
}
.section{
    min-height: 100vh;
    padding: 0 2rem;
}
.menu-spacing{
    height: 6.2rem;
}
.grid-header{
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    min-height: 100vh;
}
.img-l img{
    max-width: 100%;
    height: auto;
}
.header-t-div, .img-l{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.header-t-div{
    width: 90%;
}
p{
    line-height: 1.5;
    margin-bottom: 3rem;
}
.t-div{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    max-width: 64rem;
    margin: 0 auto;
}
.grid-div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    counter-reset: grid-counter;
}
.grid-div h3::before{
    counter-increment: grid-counter;
    content: counter(grid-counter);
    font-size: 7rem;
    font-style: italic;
    padding-right: 3rem;
}
.grid-div h3{
    font-size: 4rem;
}
.grid-default h2{
    padding: 25rem 0 0 0;
}
.p1-grid{
    margin-bottom: 6rem;
}
.galeria-flex{
    display: flex;
    flex-flow: row wrap;
    gap: 3rem;
}
.galeria-flex img{
    transition: all 300ms ease-in-out;
}
.galeria-flex img:hover{
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}
.div-g{
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}
#gallery{
    padding-bottom: 10rem;
}
table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 2rem;
}
th, td{
    padding: 1rem;
    border: 2px solid var(--light-gray-color);
}
thead, tfoot{
    background-color: var(--light-gray-color);
}
caption{
    font-style: italic;
}
.grid-contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.div-img-contact img{
    max-width: 100%;
    height: auto;
}
.div-img-contact{
    padding-top: 5rem;
}
legend{
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}
.contact-form {
    grid-column: span 2;
}
.f-form{
    border: none;
    display: flex;
    flex-flow: row wrap;
    gap: 3rem;
}
.item-form label{
    display: block;
    margin-bottom: 1rem;
}
.item-form{
    flex: 1 1 320px;
}
.item-form input, .item-form textarea{
    border: none;
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 3rem;
    outline: none;
}
.item-form input:focus, .item-form textarea:focus{
    box-shadow: 0 0 2rem  crimson;
}
.full{
    width: 100%;
    flex: 1 1 100%;
}
item-form textarea{
    height: 20rem;
}
.item-form button{
    border: 0.4rem solid var(--white-color);
    background-color: transparent;
    padding: 1rem 2.5rem;
    color: var(--white-color);
    font-size: 2.5rem;
    font-style: oblique;
    transition: all 300ms ease-in;
    margin-bottom: 4rem;
}
.item-form button:hover{
    color: var(--primary-color);
    background-color: var(--white-color);
}
footer p{
    text-align: center;
    padding-top: 3rem;
    font-size: 1.6rem;
    font-style: oblique;
}
.heart{
    color: crimson;
}
.close-menu{
    display: none;
}
.back-to-top{
    padding: 0;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--white-color);
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: rotate(270deg);
    border: 0.2rem solid var(--primary-color);
}
@media screen and (max-width: 800px) {
    .grid-header, .grid-div{
        grid-template-columns: 1fr;
    }
    .div-g{
        max-width: 100%;
        max-height: 100%;
        margin-bottom: 2rem;
    }
    .div-g img{
        width: 100%;
    }
    .galeria-flex{
        display: block;
    }
    .menu{
        bottom: 0;
        text-align: center;
        display: none;
    }
    .div-flex, .div-flex ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .div-flex{
        height: 100vh;
    }
    ul li{
        margin-top: 3.5rem;
    }
    .close-menu-label::after{
        font-family: "Font Awesome 5 Free"; font-weight: 800; content: "\f0c9";
        position: fixed;
        top: 2rem;
        right: 2rem;
        background-color: var(--primary-color);
        color: var(--white-color);
        font-size: 3rem;
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        text-align: center;
        padding: 0.5rem;
        border-radius: 0.5rem;
        cursor: pointer;
        z-index: 2;
    }
    .close-menu:checked~.menu{
        display: block;
    }
    .close-menu:checked~.close-menu-label::after{
        content: '×';
    }
    .menu-spacing{
        display: none;
    }  
    .grid-default h2{
    padding: 10rem 0 5rem 0;
    }
    .div-img-contact{
        display: none;
    }
    .grid-contact{
        grid-template-columns: 1fr;
    }
    h1{
        font-size: 4rem;
        margin-top: 3rem;
    }
    h2{
        font-size: 3.6rem;
    }
    h3{
        font-size: 3.4rem;
    }
    h4{
        font-size: 3.2rem;
    }
    h5{
        font-size: 3rem;
    }
    h6{
        font-size: 2.8rem;
    }

}